/*FOOTER*/

footer {
    background: white;
    color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

footer a {
    color: #000000;
    font-size: 14px;
    transition-duration: 0.2s;
    font-weight: 500;
}
.copy {
    font-size: 12px;
    padding: 10px;
}

.footer-middle {
    padding-top: 2em;
    color: #000000;
}

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 2em;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-network a {
    background-color: #F9F9F9;
}
.footer-pad h4{
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #dcdcdc;

}
.lower-footer{
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: #eee;
}

.copyright-container{
    font-weight: bold;
    font-size: 80%;
    flex-direction: column;
    text-align: left;
    justify-content: left;
}
.copyright-container li{
    display: inline;
}
.copyright-container a{
    font-weight: bold;
    font-size: 80%;
}

