main{
    margin-top: 8em;
    display: flex;
    flex-wrap: wrap;
}

.three-columns{
    margin-top:1em;
}

.flex-row-container {
    margin-left: 17.5%;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}
.article{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #dcdcdc;
}

.article p .author{
    color: #222;!important;
}

.article p a{
    text-decoration: none;
    color: #595760
}

.article h2 a{
    text-decoration: none;
}
.article h3 a {
    text-decoration: none;
}

.article h2 a:hover{
    color: #1a6aff
}
.article h3 a:hover{
    color: #1a6aff
}
.article p a:hover{
    color: #1a6aff
}


.article h2{
    font-weight: bold;
    font-size: 1.5em;
}
.article h3{
    font-weight: bold;
    font-size: 1.2em;
}

.flex-row-container img{
    display:block;
    margin:auto;
    width: 100%;
}

.flex-row-item {;
    padding: 0.5em;
}
 .main-article{
     flex-basis: 40%;
 }
 .secondary-articles{
     flex-basis: 35%;
 }

 .side-articles{
     flex-basis: 25%;

 }
 .side-articles p{
     color: #aaaaaa;
 }
 .side-articles h3{
     border-top: 3px solid black;
     font-weight: bold;
 }

.title-top {
    margin-left: 17.5%;
    width: 65%;
    display: flex;
    justify-content: space-between;
    /*Centra verticalmente gli elementi*/
    align-items: center;
    border-top: 2px solid black;
    margin-top: 1em;
}


.long-article .flex-row-container{
    justify-content: space-between;
}

.long-article .left-article{
    flex-basis: 50%;
    float: left;
}
.long-article .image-article{
    flex-basis: 30%;
    float: right;
}

.the-region {
    font-weight: bold;
    font-size: 150%;
    float: left;
}

.more {
    float: right;
}

.long-article .flex-row-container{
    border-bottom: 1px solid #dcdcdc;
}

.four-grid{
    margin-top: 1em;
}

.four-grid .small-article{
    flex-basis: 35%;
    float: left;
}
.four-grid .image-article{
    flex-basis: 15%;
    float: right;
}

.four-row .flex-row-item{
    flex-basis: 25%;
}

.long-article .article{
    border-bottom: none;
}

.four-row .article{
    border-bottom: none;
}
.no-border{
    border-bottom: none;
}
.title-top i{
    color: #1a6aff;
}


@media screen and (max-width: 1610px) {
    .flex-row-container {
        width: 90%;
        margin-left: 5%;
    }
    .title-top{
        width: 90%;
        margin-left: 5%;
    }
    main{
        margin-top: 3em;
    }
}

@media screen and (max-width: 1150px){
    .flex-row-container {
        width: 95%;
        margin-left: 2.5%;
    }
    .title-top{
        width: 95%;
        margin-left: 2.5%;
    }
}

@media screen and (max-width: 900px){
    .side-articles{
        display: none;
    }
    .main-article{
        flex-basis: 60%;
    }
    .secondary-articles{
        flex-basis: 40%;
    }

}
@media screen and (max-width: 700px){
    .main-article{
        flex-basis: 90%;
    }
    .secondary-articles{
        flex-basis: 90%;
    }

    .flex-row-container{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
}


