#search-bar {
    display: none;
    position: fixed;
    z-index: 2;
    width: 570px;
    height: 62px;
    top: 8em;
    background-color: white;
    left: 20%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .1);
    flex-direction: row;

}

.search-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 1.8em 1.5em;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    border: 0.5px solid #dcdcdc;
}

#search {
    border: none;
    outline: none;
    margin-top: 8px;
    font-size: 16px;
    width: 460px;
}

button[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
#search-label{
    padding: 0;
}
#eyeglass{
    cursor: pointer;
}
@media screen and (max-width: 1610px){
    #search-bar{
        transition:all .5s ease;
        left: 2em;
    }

}
@media screen and (max-width: 1150px){
    #search-bar{
        top: 3.6em;
        transition:none;
        box-shadow: 0 2px 16px 0 rgba(0,0,0,.1);
    }

}

@media screen and (max-width: 900px){
    #search-bar{
        width: 100%;
        left: 0;
    }
    #search{
        width: 80%;
    }
    #search-label{
        width: 100%;
    }
    #search-button{
        margin-right: 1em;
    }

}
